.header {
    position: relative;
    display: flex;
    justify-content: space-between;

    &__image__container {
        display: flex;
        flex: 0 0 60%;

        .image {
            object-fit: cover;
            width: 100%; 

            &--mobile {
                display: none;
            }
        }
    }

    &__textbox {
        display: flex;
        flex-direction: column;
        flex: 0 0 40%;
        position: relative;
        justify-content: center;
        padding: 90px 5%;

        &__heading {
            font-size: 2.5em;
            padding-bottom: 20px;
        }

        &__subheading {
            line-height: 20px;
            padding-bottom: 20px;
            color: hsl(0, 0%, 63%);
        }

        &__link {            
            span {
                text-transform: uppercase;
                letter-spacing: 10px;
                margin-right: 20px;
            }

            &:hover {
                 span, svg path {
                    fill:hsl(0, 0%, 63%);
                    color: hsl(0, 0%, 63%);
                }
            }
        }
    }

    &__pagination__arrows {
        display: flex;
        position: absolute;
        bottom: 0; left: 0;

        button {
            width: 60px;
            height: 70px;
            background-color: black;
            transition: .2s;

            &:hover {
                background-color: hsl(0, 0%, 63%);
            }
        }
    }

    @media screen and (max-width: 767px) {
        flex-direction: column;

        &__image__container {
            .image {
                display: none;
                
                &--mobile {
                    display: flex;
                }
            }
        }

        &__textbox {
            padding-top: 65px;
            padding-bottom: 65px;

            &__subheading {
                padding-top: 10px;
                padding-bottom: 40px;
            }
        }

        &__pagination__arrows {
            top: 41%; right: 0; left: auto;
            transform: translateY(-100%);
            height: max-content;
        }
    }
}